<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.mybatis.mapper.DynamicSQLMapper">
    <select id="getEmpByCondition" resultType="Emp">
        select * from t_emp where
        <if test="empname !=null and empname !=''">
            emp_name =#{empname}
        </if>
        <if test="age !=null and age !=''">
            and age =#{age}
        </if>
        <if test="gender !=null and gender !=''">
            and gender =#{gender}
        </if>
    </select>
</mapper>